@model IEnumerable<Prodotto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">memEShop</h1>
    <h2>Il tuo portale irriverente per i tuoi acquisti compulsivi!</h2>
</div>
