@model E_commerce.Models.Prodotto

@{
    ViewData["Title"] = "Modifica Prodotto";
}
<h1>MODIFICA @Model.Nome</h1>

<div class="container mt-4">
    <form asp-action="AggiornaProdotto" method="post">
        <input type="hidden" asp-for="IDProdotto" />
        
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descrizione" class="control-label"></label>
            <input asp-for="Descrizione" class="form-control" />
            <span asp-validation-for="Descrizione" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Prezzo" class="control-label"></label>
            <input asp-for="Prezzo" class="form-control" />
            <span asp-validation-for="Prezzo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Categoria" class="control-label"></label>
            <input asp-for="Categoria" class="form-control" />
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImmagineLink" class="control-label"></label>
            <input asp-for="ImmagineLink" class="form-control" />
            <span asp-validation-for="ImmagineLink" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning mt-3">Modifica</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
